# Snowflake
SNOWFLAKE_ACCOUNT=nfsqmyv-ce67328
SNOWFLAKE_USER=WILMERSAENZ81
SNOWFLAKE_PASSWORD=your_password_here
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_DATABASE=Covid19
SNOWFLAKE_ROLE=SYSADMIN

# US Census API (get free key at https://api.census.gov/data/key_signup.html)
CENSUS_API_KEY=your_census_api_key_here

# Airflow
AIRFLOW_HOME=./airflow
