# Copy this file to ~/.dbt/profiles.yml  (NOT inside the project folder)
# Then fill in your Snowflake credentials.

covid_pipeline:
  target: dev
  outputs:
    dev:
      type: snowflake
      account: nfsqmyv-ce67328
      user: WILMERSAENZ81
      password: "{{ env_var('SNOWFLAKE_PASSWORD') }}"
      role: SYSADMIN
      database: COVID_DB
      warehouse: COMPUTE_WH
      schema: RAW          # dbt default schema — overridden per layer by generate_schema_name macro
      threads: 4
      client_session_keep_alive: false
